#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  background-color: rgb(71, 71, 71);
  flex: 1;

  padding: 1em;
  border-radius: 0.5em;
}

.card-inside {
  flex: 1;

  padding: 1em;
  border-radius: 0.25em;

  border: 1px rgb(80, 80, 80) solid;
}

.card-label {
  padding: 0;
  margin: 0;
}
